head
  meta(charset="UTF-8")
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  link(rel='stylesheet', href='/public/css/style.css')
  style
    include css/style.css
  <script defer src="/__/firebase/7.14.5/firebase-app.js"></script>

  <script defer src="/__/firebase/7.14.5/firebase-auth.js"></script>
  <script defer src="/__/firebase/7.14.5/firebase-database.js"></script>
  <script defer src="/__/firebase/7.14.5/firebase-messaging.js"></script>
  <script defer src="/__/firebase/7.14.5/firebase-storage.js"></script>

  <script defer src="/__/firebase/init.js"></script>

