include includes/head.pug
title !{title}
body
  include includes/navbar.pug 
  div.container Einstellungen
    ul.list-group
    li.list-group-item.active Kanäle
    - var values= {anyArray}
      each item in values
        li.list-group-item= item
      else
        li Keine Kanäle gespeichert

    ul.list-group
    li.list-group-item.active Gruppen
    - var values= {anyGroupArray}
    each item in values
      li.list-group-item= item
    else
      li Keine Gruppen gespeichert

  include includes/footer.pug 

